/*!CK:1151254057!*//*1400061646,178142239*/

.sp_YuQfAZu_STe{background-image:url(/rsrc.php/v2/yr/r/RAuKp0KyW5S.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_YuQfAZu_STe.sx_c4d408{width:16px;height:16px;background-position:0 -105px}.sp_YuQfAZu_STe.sx_2dd109{background-position:0 0}.sp_YuQfAZu_STe.sx_9bc419{background-position:0 -35px}.sp_YuQfAZu_STe.sx_0cfb28{background-position:0 -70px}

#bootloader_wEwfG { height: 42px; }
.bootloader_wEwfG { display:block !important; }